<div style="display: flex; justify-content: center;">
  <div class="card" style="display: flex; justify-content: center;">
    <form class="example-form">
      <mat-form-field class="example-full-width" style="width: 600px; margin-top: 10px;">
        <mat-label>Poste um novo comentário</mat-label>
        <textarea matInput placeholder="No que você está pensando?" cdkTextareaAutosize cdkAutosizeMinRows="5"
          cdkAutosizeMaxRows="10" value="">
        </textarea>
      </mat-form-field><br>
      <div style="width: 600px; text-align: right;">
        <button mat-raised-button color="primary">Postar</button>
      </div>
    </form>
  </div>
</div>

<div style="display: flex; justify-content: center;">
  <div class="card card-post">

    <table style="margin-bottom: 10px;">
      <tr>
        <td>
          <img src="./../../assets/profile.png" width="50">
        </td>
        <td style="padding-left: 10px;">

          <div class="font font-bold">
            Dan Lustosa
          </div>

          <div style="text-align: right;" class="font-small font-gray">
            05/05/2005 14:44:32
          </div>


        </td>
      </tr>
    </table>


    <div style="text-align: justify; margin-bottom: 20px;">
      asndkn askjdn aksjnda ksjnda skjndaks naskjdn akdjn aksdnaskd naskjdnasdjn aksdnaskdjasnd
      kjasnd
      asdj nasd

      adasj njasldn asd
      asdjn asjlnd
      asdj nasdjoln asldn      kjasnd
      asdj nasd

      adasj njasldn asd
      asdjn asjlnd
      asdj nasdjoln asldn      kjasnd
      asdj nasd

      adasj njasldn asd
      asdjn asjlnd
      asdj nasdjoln asldn      kjasnd
      asdj nasd

      adasj njasldn asd
      asdjn asjlnd
      asdj nasdjoln asldn      kjasnd
      asdj nasd

      adasj njasldn asd
      asdjn asjlnd
      asdj nasdjoln asldn      kjasnd
      asdj nasd

      adasj njasldn asd
      asdjn asjlnd
      asdj nasdjoln asldn      asdjn asjlnd
      asdj nasdjoln asldn      asdjn asjlnd
      asdj nasdjoln asldn      asdjn asjlnd
      asdj nasdjoln asldn      asdjn asjlnd
      asdj nasdjoln asldn      asdjn asjlnd
      asdj nasdjoln asldn      asdjn asjlnd
      asdj nasdjoln asldn      asdjn asjlnd
      asdj nasdjoln asldn      asdjn asjlnd
      asdj nasdjoln asldn
    </div>

    <mat-divider></mat-divider>

    <div style="margin-top: 10px; text-align: right;">
      <button mat-button color="primary">Compartilhar</button>
      <button mat-button color="primary">Comentar</button>
    </div>
  </div>
</div>



